{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}
	- Équipe
{% endblock %}

{% block body %}
	<h1 class="text-center my-5 mx-0 px-0">Notre équipe</h1>
	<div class="container">
	<div class="row pb-5">

		<div class="d-flex flex-md-row px-0 flex-wrap flex-column mx-auto">
            {% for team_member in team_members %}  
            <div class="col-md-3 px-2 py-2 mx-auto">
			<div class="card">
				<img src="{{ asset('build/images/logo.png') }}" class="card-img-top" alt="{{ team_member.name }}">
				<div class="card-body">
					<h5 class="card-title">{{team_member.name}}</h5>
					<p class="card-text">{{ team_member.description}}</p>
				</div>
				<div class="card-footer bg-secondary">
					<small class="text-dark">{{team_member.position}}</small>
				</div>
			</div>
            </div>
            {% endfor %}
		</div>
            </div>           
	</div>

{% endblock %}
