{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}
	- Équipe
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('team') }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="team pb-5 d-flex flex-column align-items-center">
			<h1 class="text-center py-4 mt-0 mb-4 position-relative">
				<img src="{{ asset('build/images/title_underline_blue.png') }}" class="title-underline" alt="">Notre équipe</h1>
			<div class="row">
				{% for team_member in team_members %}
					<div class="col-lg-4 col-md-5 mx-auto py-2">
						<div class="card shadow border border-primary">
							<img src="{{ asset('uploads/images/team/' ~ team_member.picture) }}" class="card-img-top" alt="{{ team_member.name }}">
							<div class="card-body px-0">
								<h2 class=" px-2 py-2 card-title shadow border border-primary bg-dark text-light fs-3 w-fit mx-auto">{{team_member.name}}</h2>
								<p class="card-text px-2 py-3">{{ team_member.description}}</p>
							</div>
							<span class="text-end px-2 py-2 fs-5">{{team_member.position}}</span>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>

		<section class="artists mb-5">
			<h1 class="text-center my-5">Nos artistes</h1>
			<div class="row">
				{% for artist in artists %}
					<div class="col-lg-4 col-md-5 mx-auto py-2">
						<div class="card shadow border border-primary">
							<img src="{{ asset('build/images/bg_client.webp') }}" class="card-img-top" alt="{{ artist.artist.fullname }}">
							<div class="card-body px-0 pb-0 mb-0">
								<h2 class=" px-2 py-2 card-title shadow border border-primary bg-dark text-light fs-3 w-fit mx-auto">{{ artist.artist.fullname }}</h2>
								<div class="d-flex flex-column mt-4">
									<ul class="list-group">
										{% for musicalStyle in artist.artist.musicalStyles %}
											<li class="list-group-item text-center">{{ musicalStyle.name }}</li>
										{% endfor %}
									</ul>
								</div>
								<div class="d-flex justify-content-around mt-3">
									{% if artist.artist.facebook %}
										<a href="{{ artist.artist.facebook }}" target="_blank" class="card-text">
											<i class="bi bi-facebook fs-1"></i>
										</a>
									{% endif %}
									{% if artist.artist.instagram %}
										<a href="{{ artist.artist.instagram }}" target="_blank" class="card-text">
											<i class="bi bi-instagram fs-1"></i>
										</a>
									{% endif %}
									{% if artist.artist.soundCloud %}
										<a href="{{ artist.artist.soundCloud }}" target="_blank" class="card-text">
											<i class="bi bi-cloud fs-1"></i>
										</a>
									{% endif %}
								</div>
								<p class="text-end p-2 pb-0 mb-0 fs-5">DJ</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
