{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}
	- Équipe
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('team') }}
{% endblock %}

{% block body %}
	<section class="team pb-5">
		<h1 class="text-center my-5 mx-0 px-0 py-2">Notre équipe</h1>
		<div class="container">
			<div class="row">
				{% for team_member in team_members %}
					<div class="col-md-3 mx-auto py-2">
						<div class="card shadow border border-primary">
							<img src="{{ asset('build/images/header-aoyos.jpeg') }}" class="card-img-top" alt="{{ team_member.name }}">
							<div class="card-body px-0">
								<h2 class=" px-2 py-2 card-title shadow border border-primary bg-dark text-light fs-3 w-fit mx-auto">{{team_member.name}}</h2>
								<p class="card-text px-2 py-3">{{ team_member.description}}</p>
							</div>
							<span class="text-end px-2 py-2 fs-5">{{team_member.position}}</span>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
