{% extends 'admin/admin_base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}Réservations facturées
{% endblock %}

{% block content %}
	<main class="reservations-billed-admin container">
		<h1 class="my-5">Réservations facturées</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Société</th>
					<th>Début</th>
					<th>Fin</th>
					<th>Facture</th>
				</tr>
			</thead>
			<tbody>
				{% for reservation in reservations %}
					{% if (date(reservation.dateEnd|date('d-m-Y')) < date("now"|date('d-m-Y')) and reservation.bill) %}
						<tr>
							<td class="align-middle">{{ reservation.eventType }}</td>
							<td class="align-middle">{{ reservation.company }}</td>
							<td class="align-middle">{{ reservation.dateStart ? reservation.dateStart|date('d-m-Y H:i') : '' }}</td>
							<td class="align-middle">{{ reservation.dateEnd ? reservation.dateEnd|date('d-m-Y H:i') : '' }}</td>
							<td class="align-middle">
								<a class="btn btn-outline-dark" href="{{ asset('uploads/images/bill/'~ reservation.bill)}}" target="_blank" ><i class="bi bi-eye me-2"></i>Voir</a>
							</td>
						</tr>
					{% endif %}
				{% else %}
					<tr>
						<td colspan="5">Aucune réservation trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</main>{% endblock %}
