{% extends 'admin/admin_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchStatusSubmit') }}
{% endblock %}

{% block title %}Réservations{% endblock %}

{% block content %}
<main class="reservation-show-admin container">
    <h1 class="my-5">Réservations</h1>
    {{ form_start(form) }}
    {{ form_label(form.search) }}
    {{ form_errors(form.search) }} 
    <div class="input-group mb-3 w-50">
        {{ form_widget(form.search) }}
        
        <button class="btn btn-outline-dark">
            <i class="bi bi-search"></i>
            Rechercher
        </button>
    </div>
    {% if form.status is defined %}
        <div class="w-25 mb-4">
            {{ form_label(form.status) }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>
    {% endif %}
    {{ form_end(form) }}
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Société</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Tarif</th>
                {% if app.request.attributes.get('_route') == 'admin_reservation_taken' %}
                <th>Dj</th>
                {% else %}
                <th>Validée</th>
                {% endif %}
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.eventType }}</td>
                <td>{{ reservation.company }}</td>
                <td>{{ reservation.dateStart ? reservation.dateStart|date('d-m-Y H:i') : '' }}</td>
                <td>{{ reservation.dateEnd ? reservation.dateEnd|date('d-m-Y H:i') : '' }}</td>
                <td class="align-middle">{{ reservation.price ? reservation.price ~ '€' : 'Non précisé' }}</td>
                {% if app.request.attributes.get('_route') == 'admin_reservation_taken' %}
                <td class="align-middle">{{ reservation.artist.artistName }}</td>
                {% else %}
                <td class="align-middle text-center text-light rounded-1 bg-{{ statusColor[reservation.status] }}">{{ statusValue[reservation.status] }}</td>
                {% endif %}
                <td class="align-middle text-end">
                    <a class="btn btn-outline-dark btn-sm text-nowrap px-3 my-2" href="{{ path('admin_reservation_edit', {'id': reservation.id}) }}">
                    <i class="bi bi-pen"></i>
                    Éditer</a></td>
                <td class="align-middle text-end">{{ include('admin/reservation/_delete_form.html.twig') }}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune réservation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
