{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ reservation.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ reservation.firstname }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ reservation.company }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reservation.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ reservation.phone }}</td>
            </tr>
            <tr>
                <th>Formula</th>
                <td>{{ reservation.formula }}</td>
            </tr>
            <tr>
                <th>EventType</th>
                <td>{{ reservation.eventType }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ reservation.address }}</td>
            </tr>
            <tr>
                <th>DateStart</th>
                <td>{{ reservation.dateStart ? reservation.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ reservation.dateEnd ? reservation.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Attendees</th>
                <td>{{ reservation.attendees }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ reservation.comment }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reservation.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_reservation_index') }}">back to list</a>

    <a href="{{ path('app_admin_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('admin_reservation/_delete_form.html.twig') }}
{% endblock %}
