{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Admin Dj
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
		{% block message %}
			{% for category, messages in app.flashes %}
				{% for message in messages %}
					<div class=" text-center alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		{% endblock %}
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}
