{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('typeAnimation') }}
{% endblock %}
        
{% block body %}
    <main>
        {% include 'components/_banner_main.html.twig' %}
    </main>
{% endblock %}
