{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}
    {{ parent() }} - Email envoyé
{% endblock %}

{% block body %}
	<main class="login py-5">
		<div class="container d-flex flex-column align-items-center mt-5">
			<div class="block-color w-75 m-5 d-flex align-items-center flex-column">
				<h1 class="text-center h1-login py-5 position-relative">
					<img src="{{ asset('build/images/title_underline_purple.png') }}" class="title-underline" alt="">
					Réinitialisation du mot de passe</h1>
				<div class="mx-5 py-5">
					<p class="fs-4 mb-5">
						Si un compte correspond à l'adresse entrée, un email contenant un lien pour réinitialiser votre mot de passe a été envoyé.
                    </p>
					<p>
                        Si vous ne recevez pas l'email, veuillez vérifier votre dossier de spam ou 
						<a class="text-dark" href="{{ path('app_forgot_password_request') }}">réessayez d'entrer votre email</a>.
                    </p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
