{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil DJ{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dj') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('typeAnimation') }}
{% endblock %}
        
{% block body %}
<main>
  {% include 'dj/_banner_dj.html.twig' %}
</main>
{% endblock %}