{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Company</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Formula</th>
                <th>EventType</th>
                <th>Address</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>Attendees</th>
                <th>Comment</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.lastname }}</td>
                <td>{{ reservation.firstname }}</td>
                <td>{{ reservation.company }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.phone }}</td>
                <td>{{ reservation.formula }}</td>
                <td>{{ reservation.eventType }}</td>
                <td>{{ reservation.address }}</td>
                <td>{{ reservation.dateStart ? reservation.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.dateEnd ? reservation.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.attendees }}</td>
                <td>{{ reservation.comment }}</td>
                <td>{{ reservation.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_admin_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_reservation_new') }}">Create new</a>
{% endblock %}
