{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Admin
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('adminSidebar') }}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
	<div class="d-flex">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}