<div class="col-lg-6 my-3">
	<div class="card-dj shadow border border-dark rounded-3 w-100">
		<div class="d-lg-flex h-100 rounded-3 {% if reservation.artist is defined and reservation.artist == app.user.artist %} dj-my-events {% else %} dj-new-events {% endif %}">
			<div class="d-flex justify-content-center align-items-center px-5 rounded-3 col-lg-6">
				<h1 class="h5 text-light">{{ reservation.company }}</h1>
			</div>
			<div class="d-flex flex-column justify-content-center col-lg-6">
				<div class="flex-grow-1">
					<p class="card-text px-2 pt-2">
						<i class="bi bi-caret-right-fill"></i>
						{{ reservation.dateStart|date("d/m/Y") }}</p>
					<p class="card-text px-2 ">
						<i class="bi bi-caret-right-fill"></i>
						{{ reservation.address|u.truncate(50, '...', false) }}</p>
					<span class="card-text px-2 ">
						<i class="bi bi-caret-right-fill"></i>
						{{ reservation.distance }}
						km</span>
				</div>
				{% if reservation.artist is null or reservation.artist == app.user.artist  %}
				<div class="w-100 px-2 mb-2">
					<a href="{{ path('dashboard_dj_show', {'id': reservation.id}) }}" class="btn btn-outline-primary w-100">En savoir plus</a>
				</div>
				{% endif %}
				{% if reservation.artist is defined and reservation.artist == app.user.artist %}
					{{ include('dj_dashboard/reservation/_cancel_reservation.html.twig') }}
				{% elseif reservation.artist is empty and reservation.status != 'Rejected' %}
					{% include 'dj_dashboard/reservation/_accept_reservation.html.twig' %}
				{% else %}
					<p class="text-center py-2">Cet évènement est déjà réservé par un autre DJ.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
