{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Espace DJ
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('djDashboard') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('sidebar') }}
{% endblock %}

{% block navbar %}
	{% include 'components/_dj_topbar.html.twig' %}
{% endblock %}

{% block message %}
{% endblock %}

{% block body %}
	<div class="d-flex">
		{% include 'components/_dj_sidebar.html.twig' %}
		<div class="w-100">
			{% include 'components/_flash_message.html.twig' %}
			{% block content %}
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}