{% extends 'dj_dashboard/dj_dashboard_base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<main class="mx-auto">
		<div class="container d-flex flex-column mb-5">
			{% if is_granted('ROLE_USER') and not is_granted('ROLE_DJ') %}
				<div class="d-flex flex-column justify-content-center align-items-center">
					<h1 class="mt-5">Votre candidature est en attente de confirmation.</h1>
					<p class="fs-4 text-muted">Afin qu'aoyos puisse valider votre candidature, merci de compléter
						<a href="{{ path('dashboard_dj_documents') }}">votre dossier</a>.</p>
				</div>
			{% else %}
				<section class="reservations-dj">
					<h1 class="mt-5 mb-2 ms-lg-3">
						Mes évènements
					</h1>
				<div class="row">
					{% for reservation in reservations %}
						{% include 'dj_dashboard/_cards_dj.html.twig' %}
					{% else %}
						<p class="m-4">Vous n'avez pas encore d'évènement.</p>
					{% endfor %}
				</div>
				<div class="d-flex justify-content-center">
					<a class="btn w-25 btn-outline-dark" href="{{ path('dashboard_dj_my_events', {'filter': 'a-venir'}) }}">Voir plus</a>
				</div>
				<h1 class="mt-3 mb-2 ms-lg-3">
					Nouveaux évènements
				</h1>
				<div class="row">
					{% for reservation in newReservations %}
						{% include 'dj_dashboard/_cards_dj.html.twig' %}
				<div class="d-flex justify-content-center">
					<a class="btn w-25 btn-outline-dark" href="{{ path('dashboard_dj_reservations') }}">Voir plus</a>
				</div>
					{% else %}
						<p class="ms-lg-4">Aucun nouvel évènement trouvé.</p>
					{% endfor %}
				</div>

			{% endif %}
		</div>
	</main>
{% endblock %}
