{% extends "layout_email.html.twig" %}

{% block title %}
	{{ parent() }}
	- Nouvelle réservation
{% endblock %}

{% block body %}
	<h1 class="fs-4">Bonjour aoyos</h1>
	<h2 class="fs-5 my-3">Vous avez recu une nouvelle demande de réservation</h2>
    <h3 class="mt-3">Contact: </h3>
    <p class="m-3">{{ reservation.firstname }} {{ reservation.lastname }}</p>
    <p class="m-3">{{ reservation.phone }}</p>
    <p class="m-3">{{ reservation.email }}</p>
    <h3 class="mt-3">Détail de la demande: </h3>
    <p class="m-3">Formule: {{ reservation.formula }}</p>
	<p class="m-3">Lieu: {{ reservation.address }}</p>
	<p class="m-3">Du {{ reservation.dateStart |date('d-m-Y H:i') }} au {{ reservation.dateEnd |date('d-m-Y H:i') }}</p>
    <p class="m-3">Participants: {{ reservation.attendees }}</p>
{% endblock %}
