{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Liste de l'équipe
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5">Membres de l'équipe</h1>
		<div class="w-100 d-flex justify-content-end">
			<a class="btn btn-outline-dark pb-0 px-3 me-2" href="{{ path('admin_team_member_new') }}">
				<i class="bi bi-plus-square"></i>
				Ajouter
                </a>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Poste occupé</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for team_member in team_members %}
					<tr>
						<td>{{ team_member.name }}</td>
						<td>{{ team_member.position }}</td>
						{% if team_member.description is defined and team_member.description is not null %}
						<td>{{ team_member.description }}</td>
						{% else %}
						<td></td>
						{% endif %}
						<td class="align-middle">
								<a class="btn btn-outline-dark btn-sm text-nowrap pb-0 px-3 mb-1" href="{{ path('admin_team_member_edit', {'id': team_member.id}) }}">
									<i class="bi bi-pen"></i>
									Éditer
								</a>
								 
						</td>
						<td class="align-middle">{{ include('admin/team_member/_delete_form.html.twig') }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucun membre trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}
