{% extends "layout_email.html.twig" %}

{% block title %}
	{{ parent() }}
	- Nouveau contact
{% endblock %}
{% block body %}
	<h1 class="fs-4">Bonjour aoyos</h1>
	<h2 class="fs-5 my-3">Vous avez un message de
		{{ contactFormData.firstname }}
		{{ contactFormData.lastname }}
		:</h2>
	<p>{{ contactFormData.message|nl2br }}</p>
	<p class="mt-3">Pour lui répondre :</p>
	<ul>
		<li>{{ contactFormData.email }}</li>
		<li>{{ contactFormData.phone }}</li>
	</ul>
{% endblock %}
