{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	{{ parent() }}-
	{{artist.artistName}}
{% endblock %}

{% block content %}
	<main class="container">
		<div class="row">
			<h1 class="my-5 text-center">
				{{ artist.artistName }}
			</h1>
			<div class="d-flex w-100 p-0">
				<div class="d-flex flex-column shadow p-4 w-50 me-5">
					<h2 class="text-muted fs-2">Coordonnées</h2>
					<p class="fs-6 text-muted m-0">Prénom :
						<span class="fs-5 text-dark">
							{{ artist.firstName }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Nom de famille :
						<span class="fs-5 text-dark">
							{{ artist.lastName }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Téléphone :
						<span class="fs-5 text-dark">
							{{ artist.phone }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Email :
						<span class="fs-5 text-dark">
							{{ artist.email }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Adresse :
						<span class="fs-5 text-dark">
							{{ artist.address }}</span>
					</p>
				</div>
				<div class="d-flex flex-column shadow p-4 w-50">
					<h2 class="text-muted fs-2">Profil d'artiste</h2>
					<p class="fs-6 text-muted m-0">Nom d'artiste :
						<span class="fs-5 text-dark">
							{{ artist.artistName }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Équipement :
						<span class="fs-5 text-dark">
							{{ artist.artistName }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Genre musical :
						{% for musicalStyle in artist.musicalStyles %}
							<div class="d-flex">
								<span class="fs-5 text-dark">{{ musicalStyle.name }}</span>
							</p>
						</div>
					{% endfor %}
					<p class="fs-6 text-muted m-0">Message :
						<span class="fs-5 text-dark">
							{{ artist.message }}</span>
					</p>
				</div>
			</div>
			<div class="d-flex flex-column shadow p-4 w-100 my-4 mx-auto">
				<h2 class="text-muted text-center fs-2">Documents</h2>
				<p class="fs-6 text-muted my-3">SIRET :
					<span class="fs-5 text-dark">
						{{ artist.documents.siretNumber }}</span>
				</p>
				<div class="d-flex justify-content-around w-100">
					<img class="col-3" src="{{ asset('uploads/images/dj/' ~ artist.documents.identityCard) }}" alt="">
					<img class="col-3" src="{{ asset('uploads/images/dj/' ~ artist.documents.identityPhoto) }}" alt="">
					<img class="col-3" src="{{ asset('uploads/images/dj/' ~ artist.documents.kbis) }}" alt="">
				</div>
				
			</div>
		</div>
	</main>
{% endblock %}
