{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	{{ parent() }}-
	{{artist.artistName}}
{% endblock %}

{% block content %}
	<main class="container">
		<a href="{{ path('admin_dj_list') }}" class="btn btn-outline-dark px-3 mt-3">
			<i class="bi bi-arrow-left-square"></i>
			Retour
		</a>
		<div class="row">
			<h1 class="my-5 text-center">
				{{ artist.artistName }}
			</h1>
			<div class="d-flex w-100 p-0">
				<div class="d-flex flex-column shadow p-4 w-50 me-5">
					<h2 class="text-muted fs-2">Coordonnées</h2>
					<p class="fs-6 text-muted m-0">Prénom :
						<span class="fs-5 text-dark">
							{{ artist.firstName }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Nom de famille :
						<span class="fs-5 text-dark">
							{{ artist.lastName }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Téléphone :
						<span class="fs-5 text-dark">
							{{ artist.phone }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Email :
						<span class="fs-5 text-dark">
							{{ artist.email }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Adresse :
						<span class="fs-5 text-dark">
							{{ artist.address }}</span>
					</p>
				</div>
				<div class="d-flex flex-column shadow p-4 w-50">
					<h2 class="text-muted fs-2">Profil d'artiste</h2>
					<p class="fs-6 text-muted m-0">Nom d'artiste :
						<span class="fs-5 text-dark">
							{{ artist.artistName }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Matériel :
						<span class="fs-5 text-dark">
							{{ artist.equipment }}</span>
					</p>
					<p class="fs-6 text-muted m-0">Genre musical :
						{% for musicalStyle in artist.musicalStyles %}
							<div class="d-flex">
								<span class="fs-5 text-dark">{{ musicalStyle.name }}</span>
							</p>
						</div>
					{% endfor %}
					<p class="fs-6 text-muted m-0">Message :
						<span class="fs-5 text-dark">
							{{ artist.message }}</span>
					</p>
				</div>
			</div>
			<div class="d-flex flex-column shadow p-4 w-100 my-4 mx-auto">
				<h2 class="text-muted text-center fs-2">Documents</h2>
				{% if artist.documents is not null %}
					<p class="fs-6 text-muted text-center my-3">SIRET :
						<span class="fs-5 text-dark">
							{{ artist.documents.siretNumber }}</span>
					</p>
					<div class="d-flex justify-content-center w-100">
						<a class="btn btn-outline-dark mx-3" href="{{ asset('uploads/images/dj/' ~ artist.documents.identityCard) }}" target="_blank" rel="noopener noreferrer">Carte d'identité</a>
						<a class="btn btn-outline-dark mx-3" href="{{ asset('uploads/images/dj/' ~ artist.documents.identityPhoto) }}" target="_blank" rel="noopener noreferrer">Photo d'identité</a>
						<a class="btn btn-outline-dark mx-3" href="{{ asset('uploads/images/dj/' ~ artist.documents.kbis) }}" target="_blank" rel="noopener noreferrer">Kbis</a>
					</div>
					{% else %}
					<p class="text-center my-3">Aucun document fourni.</p>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
