{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Articles
{% endblock %}

{% block content %}
	<main class="container">
		<h1 class="my-5">Liste des articles</h1>

		<div class="d-flex justify-content-end me-2">
			<a class="btn btn-outline-primary" href="{{ path('admin_article_new') }}">
            <i class="bi bi-plus-square"></i>
            Ajouter</a>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Créé le</th>
					<th>Description</th>
					<th>Auteur</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.title }}</td>
						<td>{{ article.createdAt|date('d-m-Y') }}</td>
						<td>{{ article.description |u.truncate(20, '...', false) }}</td>
						<td>{{ article.author }}</td>
						<td>
							<a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_article_edit', {'id': article.id}) }}">
								<i class="bi bi-pen"></i>
								Éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucun article trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</main>
{% endblock %}
