{% extends 'admin/admin_base.html.twig' %}

{% block title %}
{{ parent() }} - Genres musicaux
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="text-center my-5">Genres musicaux</h1>
		<div class="w-100 d-flex justify-content-end">
			<a class="btn btn-outline-dark pb-0 px-3 me-2" href="{{ path('admin_musical_style_new') }}">
				<i class="bi bi-plus-square"></i>
				Ajouter
			</a>
        </div>
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
                        <th></th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
					{% for musical_style in musical_styles %}
						<tr>
							<td>{{ musical_style.name }}</td>
							<td class="align-middle">
								<a class="btn btn-outline-dark btn-sm text-nowrap pb-0 px-3 mb-1" href="{{ path('admin_musical_style_edit', {'id': musical_style.id}) }}">
									<i class="bi bi-pen"></i>
									Éditer
								</a>								 
						</td>
						<td class="align-middle">{{ include('admin/musical_style/_delete_form.html.twig') }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">Pas de genres musicaux</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endblock %}
