{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}
	- Services
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('article') }}
{% endblock %}

{% block body %}
	<main class="services-list">

		<div class="header d-flex justify-content-center align-items-center pt-5 mb-5">
			<h1 class="py-4 mt-0 mb-4 position-relative"><img src="{{ asset('build/images/title_underline_blue.png') }}" class="title-underline" alt="">Services</h1>
		</div>
		<div class="container mt-5 d-flex flex-column gap-3">
			{% for article in articles %}
				<div class="card bg-light col-lg-9 my-5">
					<a class="anchor" id="{{article.title}}"></a>
					<div class="row g-0">
						{% if loop.index is even %}
							<div class="col-md-5 order-first order-md-0">
								<img src="{{ asset('uploads/images/article/' ~ article.image) }}" class="img-services-card w-100 rounded-start" alt="{{ article.title }}">
							</div>
						{% endif %}
						<div class="col-md-7 px-4 order-last order-md-0">
							<div class="card-body card-left h-100 d-flex flex-column justify-content-between">
								<h2 class="card-title my-5">{{ article.title }}</h2>
								<p class="card-text">{{ article.description | raw }}</p>
								<p class="card-text">
									<small class="text-muted">Publié le
										{{ article.createdAt | date('d-m-Y') }}</small>
								</p>
							</div>
						</div>
						{% if loop.index is odd %}
							<div class="col-md-5">
								<img src="{{ asset('uploads/images/article/' ~ article.image) }}" class="img-services-card w-100 rounded-end" alt="{{ article.title }}">
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}

		</div>
	</main>
{% endblock %}
