{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-between">
	<a href="{{ path('app_admin_partner_index') }}" class="btn btn-outline-primary pb-0 px-3">
		<i class="bi bi-arrow-left-square"></i>
		Retour
	</a>
	<button class="btn btn-outline-primary pb-0 px-3">
		{{ icon|raw }}
		{{ button_label|default('Ajouter') }}
	</button>
</div>
{{ form_end(form) }}
