{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Partenaires{% endblock %}

{% block body %}
<main class="container">
    <h1 class="my-5">Partenaires</h1>
   <div class="w-100 d-flex justify-content-end">
        <a class="btn btn-outline-primary pb-0 px-3" href="{{ path('app_admin_partner_new') }}">
                <i class="bi bi-plus-square"></i>
    Ajouter</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td class="align-middle">{{ partner.name }}</td>
                <td class="align-middle">{{ partner.image }}</td>
                <td class="align-middle">
                    <a class="btn btn-outline-secondary btn-sm text-nowrap pb-0 px-3" href="{{ path('app_admin_partner_edit', {'id': partner.id}) }}">
                    <i class="bi bi-pen"></i>
                    Éditer</a>

                </td>
                <td class="align-middle">
                                    {{ include('admin/partner/_delete_form.html.twig') }}
                 </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun partenaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </main>
{% endblock %}
